{{{publicEntete}}}
	<meta name="robots" content="noindex,nofollow">
	
    <title>Erreur 404 | Projet | Québec</title>
	
	{{{publicMenu}}}
	
	{{{espace}}}
	{{{espace}}}
	{{{espace}}}

	<div class="medium-12 columns text-center">  
		<h1>Erreur 404</h1>

        <p>Cette page n'existe plus...</p>			

		<a class="button" href="{{SERVER_ABSOLUTE_PATH}}">Retourner à l'accueil</a> 
	</div>	
	
	{{{espace}}}
	{{{espace}}}
	{{{espace}}}

    {{{publicFooter}}}
</body>
</html>