<ul class="folder-list">
  {{#folders}}
  <li class="folder-node" data-id="{{id}}">
    <span class="toggle"><i class="material-icons">chevron_right</i></span>
    <span class="folder-name">{{name}}</span>
  </li>
  {{/folders}}
</ul>
  