<li><a href="{{SERVER_ABSOLUTE_PATH}}/accueil">Accueil</a></li>
<li><a href="{{SERVER_ABSOLUTE_PATH}}/annonces">Annonces</a></li>
<li><a href="{{SERVER_ABSOLUTE_PATH}}/choix_annonce">Publier une annonce</a></li>

